trabalho-parte-1/tiktok_app_reviews.csv
trabalho-parte-1/tiktok_app_reviews.bin
trabalho-parte-1/arquivoTesteImportacao.txt
trabalho-parte-1/arquivoTesteImportacaoComN.txt
trabalho-parte-2/tiktok_app_reviews.bin
trabalho-parte-2/saida.txt
trabalho-parte-2/teste.txt