trabalho-parte-1/tiktok_app_reviews.csv
trabalho-parte-1/tiktok_app_reviews.bin
trabalho-parte-1/arquivoTesteImportacao.txt
trabalho-parte-1/arquivoTesteImportacaoComN.txt
trabalho-parte-1/*.exe
trabalho-parte-2/tiktok_app_reviews.csv
trabalho-parte-2/tiktok_app_reviews.bin
trabalho-parte-2/*.exe
trabalho-parte-2/saida.txt
trabalho-parte-2/teste.txt
trabalho-parte-2/saidaHash.txt
trabalho-parte-3/tiktok_app_reviews.bin
trabalho-parte-3/saida.txt
trabalho-parte-4/tiktok_app_reviews.csv
trabalho-parte-4/tiktok_app_reviews.bin
trabalho-parte-4/reviewsComp.bin
trabalho-parte-4/reviewsOrig.bin
trabalho-parte-4/saida.txt
trabalho-parte-4/posicoes.txt
trabalho-parte-4/*.exe